@page
@model LoginModel

@{
    ViewData["Title"] = "No authentication";
}

<h2 class="text-lg-center">You are not Authenticated, login with existing <a asp-controller="User" asp-action="Login">account</a></h2>>
