@page
@model RegisterModel
@{
    ViewData["Title"] = "No authentication";
}

<h1>@ViewData["Title"]</h1>

<h2>You are not Authenticated, login with existing <a asp-controller="User" asp-action="Register"></a>account</h2>>
