@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Your place</h2>
    <p>Here you can find and book any services you want.</p>
    <p>Let's make an <a asp-controller="User" asp-action="Register">account</a> so you can start exploring.</p>
</div>
