@model List<UserBookHourViewModel>;

<div>
    @foreach (var hour in Model)
    {
        <div class="col-mb-3" mb-3>
            @hour.StartFrom - hour
        </div>
        <div class="col-mb-3" mb-3>
            @hour.StoreName - Store name
        </div>
        <div class="col-mb-3" mb-3>
            @hour.StoreServiceName - Store Service Name
        </div>
    }
</div>

