@model string

<div class="col-md-6 text-center">
    <a asp-controller="Store" asp-action="Visit" asp-route-storeId="@Model">You already giva a rate to this store. Click to navigate to store</a>
</div>